body 
{
margin:0px;
padding:0px;
width:100%;
font-size: 1.8em;
line-height: 150%
}
h1,h2,h3,h4
{
margin-bottom: 30px;
margin-top: 40px;
border-bottom: 1px
}

pre 
{
font-size: 0.8em;
margin-top: 30px;
margin-bottom: 30px
}

blockquote 
{
font-size: 0.9em;
line-height:120%;
background-color: #f2f2f2;
}
